<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<a href="/" class="link"><i data-feather="arrow-left" class="plus exit"></i></a>
<form method="post" class="app">
    <div class="form-field">
        <input id="name" name="name" class="name" placeholder="Имя продукта">
        <i data-feather="check" class="plus addBtn" id="add"></i>
    </div>
</form>


</body>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/add.js"></script>
</html>