<!DOCTYPE html>
<html>
<head>
    <title>Список покупок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/index.css" rel="stylesheet" type="text/css">
    <link href="https://raw.githubusercontent.com/tachyons-css/tachyons/master/css/tachyons.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="app">
    <h1 class="title">Список предметов</h1>
    <ul id="items"></ul>
    <a href="/add" class="link">
        Добавить предмет
    </a>
</div>
</body>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/index.js"></script>
</html>